.home-page {

    padding-top: 100px;

    header {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;

        .description {
            max-width: 60vw;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border: 1px solid var(--text-2);
            border-radius: 8px;
            padding: 10px;
        }

        .profile {
            width: 300px;

            img {
                border-radius: 20px;
                background-color: rgba(246, 246, 246, 0.979);
                background-size: cover;
            }
        }
    }

}

@media screen and (max-width: 600px) {
    .home-page {
        // padding-top: 0;

        header {
            flex-direction: column;

            .description {
                max-width: 90vw;
            }

            .profile {
                width: 60vw;

                img {
                    width: 100%;
                }
            }
        }
    }

}