.home-page {

    header {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;

        .description {
            max-width: 90vw;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border: 1px solid var(--text-2);
            border-radius: 8px;
            padding: 10px;

            .user-name {
                font-size: 30px;
            }
        }

        .profile {
            margin: 10px;

            img {
                width: 300px;
                border-radius: 20px;
                background-color: rgba(246, 246, 246, 0.979);
                background-size: cover;
            }
        }
    }

}

@media screen and (max-width: 600px) {
    .home-page {
        // padding-top: 0;

        header {
            flex-direction: column;



            .description {
                transition: 0.2s;
                max-width: 90vw;


                .user-name {
                    font-size: 25px;
                    transition: 0.2s;
                }

                .speciality-content {
                    font-size: 14px;
                    transition: 0.2s;
                }

            }

            .profile {
                width: 60vw;

                img {
                    width: 100%;
                }
            }
        }

        .last-projects-publications {
            .last-publications {
                margin-top: 50px;
            }
        }
    }

}