.page {
    /* padding-top: 75px; */
    min-height: 100vh;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    /* background-color: rgb(227, 227, 227); */
}

*{
    /* font-family: 'Orbitron'; */
    font-family: sans-serif;
}