@import "tailwindcss";
/* @import '~bootstrap/scss/bootstrap'; */

#root {
    /* font-family: "Roboto", sans-serif; */
    font-family: "Roboto Condensed", sans-serif;
    margin: 0;
    padding: 0;
}


.dark {
    background-color: rgb(12, 4, 29);
    --primary-color: rgb(9, 15, 60);
    --primary-color-reverse: rgb(143, 189, 255);
    --background-color-1: rgb(0, 0, 0);
    --background-color-2: rgb(0, 0, 79);
    color: white;
    --text-color: white;
    --text-2: rgb(149, 220, 255);
    --box-color: black;
    --app-bar-bg: rgb(1, 12, 52);
    background-image: url('/src/assets/bg/dark-bg.jpg');
}

.light {
    --primary-color: rgb(143, 189, 255);
    --app-bar-bg: rgb(255, 255, 255);
    --primary-color-reverse: rgb(9, 15, 60);
    background-color: rgb(255, 255, 255);
    --background-color-1: rgb(255, 255, 255);
    --background-color-2: rgb(203, 202, 202);
    color: black;
    --text-color: black;
    --box-color: white;
    --text-2: rgb(123, 128, 131);
    
    background-image: url('/src/assets/bg/light-bg.jpg');
    /* --primary-color : rgb(255, 255, 255); */
}

.page {
    min-height: 100vh;
    padding-top: 80px;
}

a {
  text-decoration: none;
  color: var(--text-color);
}